@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PTSans";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 1200px;
  margin: 0 auto;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.list-formatter {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header {
  background-color: #fff;
  position: relative;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 530px;
}

.main-menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 72px;
  padding-right: 72px;
  min-height: 56px;
}

.main-menu__item {
  width: 240px;
}

.main-menu__item:nth-of-type(4n + 2) {
  margin-right: 93px;
}

.main-menu__item:nth-child(4n + 3) {
  text-align: right;
}

.main-menu__item:nth-child(4n + 4) {
  text-align: right;
}

.main-menu__link {
  color: #000000;
  font-weight: 700;
}

.main-menu__link:hover,
.main-menu__link:focus {
  color: #81b3d2;
}

.main-menu__link:active {
  color: #000000;
  opacity: 0.3;
}

.intro {
  min-height: 508px;
  margin-bottom: 60px;
  background-image: url("../img/polygon.svg"), url("../img/welcome.svg"),
    url("../img/background\ photo.jpg");
  background-repeat: no-repeat;
  background-size: contain, 38%, cover;
  background-position: center 451px, center 76px, 0 -56px;
}

.features {
  margin-bottom: 50px;
}

.features__titled-text {
  margin: 0 auto;
  margin-bottom: 27px;
  width: 576px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.features__second-titled-text {
  text-align: center;
  margin-bottom: 51px;
}

.features__item--big {
  display: flex;
}

.features__description-card {
  width: 400px;
  background-color: #81b3d1;
  text-align: center;
  padding: 0 40px;
  padding-top: 47px;
}

.features__item--big:nth-of-type(2) .features__description-card {
  order: 2;
}

.features__title {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 21px;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;

  font-weight: 700;
  text-align: center;
}

.features__number {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.features__description {
  width: 280px;
  margin: 0 auto;
  font-size: 13px;
  /* line-height: 26px; */
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.features__item--small {
  width: 400px;

  text-align: center;
}

.goods__list {
  display: flex;
  margin-bottom: 80px;
}

.goods__item {
  width: 400px;

  text-align: center;
  padding-top: 160px;
  background-repeat: no-repeat;
}

.goods__item:nth-of-type(1) {
  background-image: url("../img/icon-1.svg");
  background-position: 162px 60px;
}
.goods__item:nth-of-type(2) {
  background-image: url("../img/icon-3.svg");
  background-position: center 61px;
}

.goods__item:nth-of-type(3) {
  background-image: url("../img/icon-2.svg");
  background-position: center 56px;
}

.goods__title {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 21px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  font-weight: 700;
  text-align: center;
}
.goods__text {
  width: 255px;
  margin: 0 auto;
  line-height: 24px;
}

.goods__item:nth-of-type(1) .goods__text {
  width: 255px;
  margin: 0 auto;
}

.goods__item:nth-of-type(2) .goods__text {
  width: 285px;
  margin: 0 auto;
}

.goods__item:nth-of-type(3) .goods__text {
  width: 275px;
  margin: 0 auto;
}

.features__list {
  display: flex;
  padding-bottom: 59px;
  padding-top: 48px;
  background-color: #eeeeee;
}

.features__list .features__title {
  color: #000000;
}

.features__list .features__number {
  color: #000000;
}

.features__list .features__text {
  line-height: 23px;
  margin: 0 auto;
}

.features__item--small:nth-of-type(1) .features__text {
  width: 210px;
}

.features__item--small:nth-of-type(2) .features__text {
  width: 265px;
}

.features__item--small:nth-of-type(3) .features__text {
  width: 250px;
}

.search__titled-text {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 23px;
}

.search__text {
  width: 435px;
  margin: 0 auto;
  font-size: 13px;

  font-weight: 400;
  text-align: center;
  margin-bottom: 44px;
}

.btn {
  display: block;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.search__btn {
  padding-top: 30px;
  margin: 0 auto;
  width: 568px;
  height: 86px;
  background-color: #766257;
}

.search__btn:hover,
.search__btn:focus {
  background-color: #604e44;
}

.search__btn:active {
  background-color: #503e32;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  position: relative;
  height: 593px;
  margin-bottom: -120px;
  z-index: -10;
}

.filter {
  min-height: 217px;
  background-image: url("../img/filter\ background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

.filter__form {
  display: flex;
  box-sizing: border-box;
  padding-top: 27px;
  padding-left: 71px;
  padding-right: 62px;
}

.filter__fieldset {
  width: 240px;
  padding: 0;
  margin: 0;
  border: none;
  margin-right: 15px;
}

.filters__wrapper {
  width: 328px;
  margin-left: auto;
}

.filter__field {
  background-color: transparent;
  border: 2px solid white;
  width: 157px;
  height: 30px;
  text-align: center;
}

.filter__field::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
}

.filters__label:nth-of-type(1) .filter__field {
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.filters__label:nth-of-type(2) .filter__field {
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.filters__label {
  width: 155px;
  display: inline-block;
  vertical-align: middle;
}

.filters__wrapper .filter__fieldset {
  margin: 0;
  width: inherit;
}

.filter__item {
  margin-bottom: 20px;
}

.filter__title {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 22px;
  font-weight: 700;
}

.filter__input {
  display: none;
}

.filter__text {
  padding-left: 41px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
}

.filters__wrapper .filter__title {
  margin-bottom: 10px;
}

.range {
  position: relative;
  width: 317px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.line {
  width: 317px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.line-range {
  width: 260px;
  background-color: rgba(255, 255, 255, 1);
}

.handler {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 0;
  left: 0;
  border: 8px solid white;
  background-color: #ababab;
  box-shadow: 0 2px 0 0 #ababab;
  border-radius: 50%;
}

.handler--min {
  top: -9px;
  left: 0x;
}

.handler--max {
  top: -9px;
  left: 253px;
}

.filter__btn {
  background-color: transparent;
  width: 137px;
  height: 36px;
  border: 2px solid white;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
  margin-left: 85px;
}

.sorting {
  display: flex;
  align-items: baseline;
  padding: 0 72px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e5e5;
}

.searching-result {
  font-size: 21px;
  line-height: 26px;
  color: #000000;

  font-weight: 700;
  margin-right: 50px;
}

.sorting__title {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  margin-right: 40px;
}

.sorting__list {
  display: flex;
  width: 240px;
  justify-content: space-between;
}

.sorting__link {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
  border-bottom: 1px dotted #81b3d2;
}

.sorting__link:hover,
.sorting__link:focus {
  color: #81b3d2;
}

.sorting__link:active {
  color: #000000;
  border: none;
}

.active {
  color: #81b3d2;
  border: none;
}

.sorting__direction {
  width: 40px;
  margin-left: auto;
}

.sorting__direction .sorting__item {
  width: 15px;
  height: 15px;
  position: relative;
}

.sorting__direction .sorting__link {
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  border: none;
}

.sorting__link polyline {
  fill: #cacaca;
}

.sorting__link:hover polyline,
.sorting__link:focus polyline {
  fill: #000000;
}

.sorting__link:active polyline {
  fill: #81b3d2;
}

.active polyline {
  fill: #81b3d2;
}

.sorting__link--up {
  transform: rotate(180deg);
  top: 2px;
  left: 3px;
}

.sorting__link--down {
  top: 0px;
  left: 3px;
}

.hotels__item {
  padding: 27px 72px;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.hotels__img {
  margin-top: 5px;
  margin-right: 30px;
}

.hotels__title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 7px;
}

.hotels__type {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 13px;
  margin-right: 35px;
}

.hotel__price {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 400;
}

.hotels__btn {
  display: inline-block;
  vertical-align: middle;
}

.hotels__btn--details {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  padding-top: 3px;
  font-weight: 700;
  margin-right: 2px;
}

.hotels__rating {
  margin-left: auto;
}

.hotels__stars {
  margin-top: 4px;
  margin-bottom: 45px;
  width: 110px;
  height: 17px;
  background-image: url("../img/star.svg");
}

.hotels__text {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  font-weight: 400;
  text-align: center;
  padding-top: 3px;
  margin: 0;
}

.hotels__btn--to-book {
  width: 142px;
  height: 27px;
  background-color: #766357;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  padding-top: 3px;
  font-weight: 700;
}

.page-footer {
  box-sizing: border-box;
  padding: 0 72px;
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.page-footer__hashtag {
  margin-left: 60px;
  margin-top: 35px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 25px;
  margin-left: 28px;
}

.page-footer__social-item {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d1;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-footer__social-item .page-footer__social-link {
  display: block;
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-footer__social-item:nth-of-type(1) .page-footer__social-link {
  background-image: url("../img/tw-icon.svg");
}
.page-footer__social-item:nth-of-type(2) .page-footer__social-link {
  background-image: url("../img/fb-icon.svg");
}
.page-footer__social-item:nth-of-type(3) .page-footer__social-link {
  background-image: url("../img/youtube-icon.svg");
}

.page-footer__social-link:hover,
.page-footer__social-link:focus {
  background-color: #669dc0;
}

.page-footer__social-link:active {
  background-color: #5495bd;
}

.page-footer__social-link:active {
  opacity: 0.3;
}

.page-footer__dev {
  margin-right: 28px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 198px;
}

.page-footer__dev .page-footer__image {
  margin-top: 10px;
}

.page-footer__image:hover path,
.page-footer__image:hover rect,
.page-footer__image:focus path,
.page-footer__image:focus rect {
  fill: #81b3d2;
}

.page-footer__image:active path,
.page-footer__image:active rect {
  fill: #bdbbbc;
}
