@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PTSans";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 1200px;
  margin: 0 auto;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.list-formatter {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* .container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
} */

.page-header {
  background-color: #fff;
  position: relative;
  /* box-shadow: inset 0 56px 0 0 #ffffff; */
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 530px;
}

.main-menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 72px;
  padding-right: 72px;
  min-height: 56px;
}

.main-menu__item {
  width: 240px;
}

.main-menu__item:nth-of-type(4n + 2) {
  margin-right: 93px;
}

.main-menu__item:nth-child(4n + 3) {
  text-align: right;
}

.main-menu__item:nth-child(4n + 4) {
  text-align: right;
}

.main-menu__link {
  color: #000000;
  font-weight: 700;
}

.main-menu__link:hover,
.main-menu__link:focus {
  color: #81b3d2;
}

.main-menu__link:active {
  color: #000000;
  opacity: 0.3;
}

.intro {
  min-height: 508px;
  margin-bottom: 60px;
  background-image: url("../img/polygon.svg"), url("../img/welcome.svg"),
    url("../img/background\ photo.jpg");
  background-repeat: no-repeat;
  background-size: contain, 38%, cover;
  background-position: center 451px, center 76px, 0 -56px;
}

.features__titled-text {
  margin: 0 auto;
  margin-bottom: 27px;
  width: 576px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.features__second-titled-text {
  text-align: center;
  margin-bottom: 51px;
}

.features__item--big {
  display: flex;
}

.features__description-card {
  width: 400px;
  background-color: #81b3d1;
  text-align: center;
  padding: 0 40px;
  padding-top: 47px;
}

.features__item--big:nth-of-type(2) .features__description-card {
  order: 2;
}

.features__title {
  width: 215px;
  margin: 0 auto;
  margin-bottom: 21px;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;

  font-weight: 700;
  text-align: center;
}

.features__number {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.features__description {
  width: 270px;
  margin: 0 auto;
  font-size: 13px;
  /* line-height: 26px; */
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.features__list {
  display: flex;
  margin-bottom: 76px;
}

.features__item--small {
  width: 400px;

  text-align: center;
}

.features__list--with-icons .features__item--small {
  padding-top: 160px;
  background-repeat: no-repeat;
}

.features__list--with-icons .features__item--small:nth-of-type(1) {
  background-image: url("../img/icon-1.svg");
  background-position: 162px 60px;
}
.features__list--with-icons .features__item--small:nth-of-type(2) {
  background-image: url("../img/icon-3.svg");
  background-position: center 61px;
}

.features__list--with-icons .features__item--small:nth-of-type(3) {
  background-image: url("../img/icon-2.svg");
  background-position: center 56px;
}

.features__list .features__title {
  color: #000000;
}

.features__item--small:nth-of-type(1) .features__text {
  width: 255px;
  margin: 0 auto;
}

.features__item--small:nth-of-type(2) .features__text {
  width: 285px;
  margin: 0 auto;
}

.features__item--small:nth-of-type(3) .features__text {
  width: 275px;
  margin: 0 auto;
}

.features__list--small {
  background-color: #eeeeee;
}

.features__list--small .features__item--small {
  padding-top: 48px;
  padding-bottom: 67px;
}

.page-footer {
  padding: 0 73px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
}
